@import "../../variables.scss";

.LoginForm-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .Logo-Container {
    padding: $padding-elements;
    width: 10rem;
  }
  .Title-Container {
    color: $primary-color;
    line-height: 1.3;
    p {
      font-size: 1.2rem;
      color: $secondary-color;
      font-weight: 560;
    }
  }
  .Field-Container {
    padding: $padding-elements-large;
    .Email-Container {
      color: $tertiary-color;
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      input {
        padding: $padding-main/2;
        border: 0.1px solid $secondary-color-varient2;
        border-radius: $border-radius;
      }
    }
    .Remember-Container {
      color: #303030;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-top: 1rem;

      label {
        font-size: 1.3rem;
        margin: 0.8rem 0rem 0rem 1.5rem;
      }

      input[type="checkbox"] {
        position: relative;
      }

      input:focus {
        outline: none;
      }

      input[type="checkbox"]:after {
        content: "";
        text-align: center;
        position: absolute;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        background: $bg-color-checkbox;
        border-radius: 10%;
      }
      input[type="checkbox"]:checked:after {
        vertical-align: center;
        background: $bg-color-checkbox;
        content: "\2714";
        color: white;
        border-radius: 3px;
        font-size: 1.5rem;
      }
      input[type="checkbox"]:focus:after {
        border: 1px solid black;
      }
    }
  }

  .Login-Button {
    border: 0.1px solid $secondary-color-varient2;
    padding: $padding-main/2;
    border-radius: $border-radius;
    width: $button-width;
  }
}
