@import "../../../variables.scss";

.Input-Container {
  display: flex;
  flex-direction: column;
  padding: $padding-elements;
  input {
    padding: $padding-main/2;
    border-radius: $border-radius;
  }
}
