$primary-color: #000;
$secondary-color: #5f5f5f;
$bg-color: #f5f5f5;
$bg-color-card: #fff;
$bg-color-checkbox: #2196f3;
$box-shadow: 4px #5f5f5f;
$border-radius: 0.5rem;
$base-fontSize: 10px;
$font-family: Gotham, serif;
$padding-main: 2rem;
$padding-elements: 2rem 0rem;
